@model IEnumerable<MyHotel.ViewModel.LevelRoom.LevelRoomViewModel>

<table id="level" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a id="btnEditar" class="btn btn-primary" href="@Url.Action("Edit","LevelRoom",new { id = item.LevelID })">
                    <i class="fas fa-edit"></i></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>